@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
* {
  box-sizing: border-box; }

.countries {
  background: #353535;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap; }

.countries-text {
  text-align: center;
  flex: 1 1 100%;
  color: #c4c4c4; }

.main-content {
  padding: 5%;
  flex: 1 1 80%; }

.country {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px; }

.country-item {
  background: #f96855;
  cursor: pointer;
  display: flex;
  position: relative; }
  .country-item.medium {
    grid-row: span 2;
    grid-column: span 3; }
  .country-item.largest {
    grid-row: span 4;
    grid-column: span 5; }
  .country-item.large {
    grid-row: span 3;
    grid-column: span 5; }
  .country-item.tall {
    grid-row: span 3;
    grid-column: span 3; }
  .country-item.last {
    grid-row: span 4;
    grid-column: span 4; }
  .country-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85); }

.poland {
  background-image: url(img/countries/Poland.jpg);
  background-position: center;
  background-size: cover; }

.ukraine {
  background-image: url(img/countries/Ukraine.jpg);
  background-position: center;
  background-size: cover; }

.usa {
  background-image: url(img/countries/USA.jpg);
  background-position: center;
  background-size: cover; }

.belarus {
  background-image: url(img/countries/Belarus.jpg);
  background-position: center;
  background-size: cover; }

.germany {
  background-image: url(img/countries/Germany.jpg);
  background-position: center;
  background-size: cover; }

.canada {
  background-image: url(img/countries/Canada.jpg);
  background-position: center;
  background-size: cover; }

.hungary {
  background-image: url(img/countries/Hungary.jpg);
  background-position: center;
  background-size: cover; }

.poland::before, .ukraine::before, .germany::before, .belarus::before, .usa::before, .canada::before, .hungary::before {
  content: '';
  display: block;
  background: #353535;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms; }

.poland:hover::before, .ukraine:hover::before, .germany:hover::before, .belarus:hover::before, .usa:hover::before, .canada:hover::before, .hungary:hover::before {
  opacity: 0.2; }
