@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

// Fonts
$sans-serif: 'Raleway', sans-serif;
$font-light: 300;
$font-bold: 700;

// Colors
$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

// Semantic color names
$accent: $orange;

$body-background: $black;
$menu-background: $gray;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;



// ===================
// General styles
// ===================

* { box-sizing: border-box; }

.countries {
  background: $body-background;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

.countries-text{
    text-align: center;
    flex: 1 1 100%;
    color: $light-gray;
}

.main-content {
  padding: 5%;
  flex: 1 1 80%;
}

.country {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
}

.country-item {
  background: $accent;
  cursor: pointer;
  display: flex;
  position: relative;
  
  
  
  &.medium {
    grid-row: span 2;
    grid-column: span 3;
  }
  
  &.largest {
    grid-row: span 4;
    grid-column: span 5;
  }
  
  &.large {
    grid-row: span 3;
    grid-column: span 5;
  }
  
  &.tall {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.last {
    grid-row: span 4;
    grid-column: span 4;
  }
    
  &:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }
}

.poland{
  background-image: url(img/countries/Poland.jpg);
  background-position: center;
  background-size: cover;
}

.ukraine{
  background-image: url(img/countries/Ukraine.jpg);
  background-position: center;
  background-size: cover;
}

.usa{
  background-image: url(img/countries/USA.jpg);
  background-position: center;
  background-size: cover;
}

.belarus{
  background-image: url(img/countries/Belarus.jpg);
  background-position: center;
  background-size: cover;
}

.germany{
  background-image: url(img/countries/Germany.jpg);
  background-position: center;
  background-size: cover;
}

.canada{
  background-image: url(img/countries/Canada.jpg);
  background-position: center;
  background-size: cover;
}

.hungary{
  background-image: url(img/countries/Hungary.jpg);
  background-position: center;
  background-size: cover;
}

.poland::before, .ukraine::before, .germany::before, .belarus::before, .usa::before, .canada::before, .hungary::before {
    content: '';
    display: block;
    background: $black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    
}

.poland:hover::before, .ukraine:hover::before, .germany:hover::before, .belarus:hover::before, .usa:hover::before, .canada:hover::before, .hungary:hover::before {
  opacity: 0.2;
}